.popup {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
    font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#file_popup .popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 500px;
    height: 240px;
    color: #6b6c6e;
    font-size: 11px;
    line-height: 16px;
}

#msg_popup .popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 200px;
    color: #6b6c6e;
    font-size: 11px;
    line-height: 16px;
}

#sav_popup .popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 200px;
    color: #6b6c6e;
    font-size: 11px;
    line-height: 16px;
}

#teach_popup .popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 200px;
    height: 150px;
    color: #6b6c6e;
    font-size: 11px;
    line-height: 16px;
}

#automtn_new_popup .popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 400px;
    color: #6b6c6e;
    font-size: 11px;
    line-height: 16px;
}

#automtn_change_popup .popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 400px;
    color: #6b6c6e;
    font-size: 11px;
    line-height: 16px;
}

#automtn_del_popup .popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 400px;
    color: #6b6c6e;
    font-size: 11px;
    line-height: 16px;
}

#file_button {
    height: 22px;
    width: 100px;
    top: 0;
    margin-right: 0px;
    margin-left: 10px;
    font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
    font: 11px arial, helvetica, clean, sans-serif;
}


#close_file_popup_box,
#del_buttons,
#chg_buttons,
#new_buttons {
    display: flow;
}

#close_del_popup,
#del_automtn,
#close_change_popup,
#close_new_popup,
#chg_automtn_next,
#chg_automtn_prev {
    height: 22px;
    width: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
    font: 11px arial, helvetica, clean, sans-serif;
}

#close_popup,
#teach_start {
    height: 22px;
    width: 80px;
    float: left;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: auto;
    font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
    font: 11px arial, helvetica, clean, sans-serif;
}

#msg_popup_txt {
    text-align: center;
}

#fngr_nmbr_2_teach {
    width: 196px;
    margin-left: 0px;
    margin-bottom: 10px;
}

#msg_popup_img {
    width: 50px;
    height: 50px;
}

.show {
    display: block;
}

#image_container_wait {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    align-self: auto;
    text-align: center;
}